.main-page {
  font-family: 'Inter', sans-serif;
  max-width: 1624px;
  margin: 0 auto;
  padding-top: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.content-container h2{
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0px;

}

.catalog-layout-wrapper {
  margin: 0;
}

.categories-container.main-layout {
  position: relative;
  width: 1624px;
  height: 525px;
}

.restaurants-section {
  width: 100%;
  max-width: 1624px;
  margin: 0 auto;
  padding: 20px 0;
}

.products-section {
  width: 100%;
  max-width: 1624px;
  margin: 0;
}

.product-list{
  margin-top: 20px;
}

.products-section h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #2E2E2E;
  margin-bottom: 10px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
  gap: 26px;
  padding-bottom: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .products-section {
    padding: 0 15px;
  }
  
  .products-section h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }
  
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}